node_modules/
vendor/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Laravel specifics
/backend/storage/*.key
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/public/storage
/backend/public/hot
